/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
p {
  margin: 0;
}

.wrapper {
  margin: 1em 0;
  border: 2px solid black;
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

/* ----- HEADER CONTAINER STYLING ----- */
header {
  text-align: center;
  padding: 1em;
}

.title {
  margin-bottom: 1rem;
}

.form-color {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5em;
}

.input-color {
  width: 50px;
  height: 40px;
}

.submit-btn {
  height: 40px;
}

/* ----- TOGGLE BUTTON STYLING ----- */

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-input {
  display: none;
}

.toggle-btn {
  display: inline-block;
  background-color: gray;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;

  position: relative;
  transition: 0.2s;
}

.toggle-btn::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  margin: 3px;
  transition: 0.2s;
}

.fa-sun {
  position: absolute;
  top: 6px;
  right: 4px;
}

.fa-moon {
  position: absolute;
  top: 6px;
  left: 6px;
}

.toggle-input:checked + .toggle-btn {
  background-color: #20096d;
}

.toggle-input:checked + .toggle-btn::before {
  transform: translatex(-30px);
}

/* ----- COLORS CONTAINER STYLING ----- */
.colors-wrapper {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.75em;
}

.color-container {
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.color-img {
  height: 80px;
}

.color-text-container {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.color-name-text {
  padding: 0.4em 0;
  border: 2px solid orange;
  border-radius: 5px;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 728px) {
  .wrapper {
    height: 600px;
    width: 60%;
  }

  main {
    height: 100%;
  }

  .colors-wrapper {
    height: 100%;
    flex-direction: row;
    align-items: stretch;

    padding: 0;
    gap: 0;
  }

  .form-color {
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  .color-container {
    width: 80%;
  }

  .color-img {
    flex-grow: 1;
  }

  .color-text-container {
    height: 120px;
  }

  .color-name-text {
    align-self: center;
    width: 80%;
  }
}
