/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
p {
  margin: 0;
}

.wrapper {
  margin: 1em 0;
  border: 2px solid black;
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

/* ----- HEADER CONTAINER STYLING ----- */

header {
  border: 2px solid red;
  text-align: center;
}

form {
  display: flex;
  flex-grow: 1;
  border: 2px solid red;
  flex-wrap: wrap;
}

/* ----- COLORS CONTAINER STYLING ----- */

.colors-wrapper {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.75em;
}

.color-container {
  width: 90%;

  border: 2px solid red;
  display: flex;
  flex-direction: column;

  text-align: center;
}

.color-img {
  height: 80px;
}

.color-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-text {
  margin: 0.75em;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 728px) {
  .wrapper {
    height: 600px;
  }
}
